<%- include('../partials/header2.ejs') %>
<!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Manage Issued Books</h4>
    </div>


            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Issued Books 
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Student Name</th>
                                            <th>Book Name</th>
                                            <th>ISBN </th>
                                            <th>Issued Date</th>
                                            <th>Return Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% results.forEach(function(result){ %>                                    
                                        <tr class="odd gradeX">
                                            <td class="center"><%= count++ %></td>
                                            <td class="center"><%= result.name %></td>
                                            <td class="center"><%= result.BookName %></td>
                                            <td class="center"><%= result.ISBNNumber %></td>
                                            <td class="center"><%= result.IssuesDate.toLocaleDateString() %></td>
                                            <% if(result.ReturnDate==null) { %>
                                                <td class="center"> Not Returned Yet </td>
                                           <% } else { %>
                                            <td class="center"> <%= result.ReturnDate %> </td>
                                            <% } %>
                                            <td class="center">
                                            <a href="/admin/updateissuedbook/<%=result.rid%>"><button class="btn btn-primary"><i class="fa fa-edit "></i> Edit</button> 
                                            </td>
                                        </tr>     
                                        <%});%>                               
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>


            
    </div>
    </div>

    <%- include('../partials/footer2.ejs') %>
    
</body>
</html>

